// allow users to override these:

:host {
  font-family: var(--mb-ui-font);
  line-height: 1.15;
  isolation: isolate;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

code {
  font-family: var(--mb-monospace-font-stack);
}

pre {
  font-family: var(--mb-monospace-font-stack);
}

svg {
  path {
    // fill: currentColor;
    pointer-events: none;
  }
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

img {
  pointer-events: none;
  user-select: none;
}

:where(input, button, textarea, select) {
  font: inherit;
}

:where(button, select) {
  cursor: pointer;
  color: inherit;
  font: inherit;
}

:where(p, h1, h2, h3, h4, h5, h6) {
  overflow-wrap: break-word;
}
