// Common button styles
.buttonPrimary {
  @apply btn-primary;
}

.buttonSecondary {
  @apply btn-secondary;
}

.buttonActions {
  @apply flex gap-4 w-full;

  .buttonPrimary, .buttonSecondary {
    @apply w-1/2;
  }
}

// Common layout styles
.modalGrid {
  @apply grid grid-rows-[1fr_auto] gap-4;
}

// Content layout
.content {
  @apply max-w-sm;

  @screen sm {
    @apply max-w-lg;
  }

  @screen lg {
    @apply max-w-sm;
  }
}

// Header with icon and text
.header {
  @apply grid grid-cols-[1fr_auto] grid-rows-[auto_1fr] gap-col-4 justify-items-center;

  svg {
    @apply col-span-2 w-[min(18rem, 100%)] max-w-[18rem];

    @screen sm {
      @apply col-span-1 w-[10rem] max-w-[10rem];
    }
    @screen lg {
      @apply col-span-2 w-[18rem] max-w-[18rem];
    }
  }
}

// Text content container
.textContent {
  @apply col-span-2 text-center;

  @screen sm {
    @apply col-span-1 text-left;
  }
  @screen lg {
    @apply col-span-2 text-center;
  }

  h2 {
    @apply text-2xl font-semibold mb-3;
  }

  p {
    @apply font-light line-height-normal text-gray-600 text-pretty w-full max-w-sm;
  }
}

// Carousel specific styles
.carousel {
  @apply grid grid-rows-[1fr_auto_auto];

  .itemGroup {
    @apply row-start-1;
    @extend .content;
  }

  .item {
    @extend .header;
  }

  .indicators {
    @apply row-start-2 flex justify-center gap-3 py-3;

    .indicator {
      @apply w-2 h-2 bg-gray-200 rounded-full cursor-auto border-none transition-colors duration-200;

      &[data-current] {
        @apply bg-primary;
      }
    }
  }

  .controls {
    @apply row-start-3 flex justify-center p-2;

    .controlsInner {
      @apply flex gap-4 w-full max-w-full;

      .buttonPrimary, .buttonSecondary {
        @apply w-1/2;
      }

      @screen sm {
        @apply max-w-[15rem];
      }

      @screen lg {
        @apply max-w-full;
      }
    }
  }
}

// Onboarding guide styles
.onboardingGuide {
  @extend .modalGrid;

  .content {
    @apply row-start-1;
    @extend .content;
  }

  .header {
    @extend .header;
  }

  .actions {
    @apply row-start-2 flex justify-center py-4;
  }
}

// Help button and tooltip
.helpButton {
  @apply rounded-full bg-white grid place-items-center size-9 appearance-none border-none
  hover:bg-gray-100 active:bg-gray-200 pos-absolute bottom-4 right-4;

  svg {
    @apply size-7;
  }
}

.tooltip {
  @apply bg-primary color-white text-align-center p-2 rounded-md text-sm drop-shadow-md;

  .arrow {
    --arrow-size: 0.5rem;
    --arrow-background: rgb(var(--color-primary));
  }
}